.clear {
    clear:both;
}

ul{

margin-bottom:0;
margin-top:0;
}

#navigation #menu ul li{
    display:inline;
}

#navigation #menu ul li a {
    color:#555753;
    display:inline;
    font-size:11px;
    font-weight:bold;
    padding-bottom:1px;
    padding-left:8px;
    padding-right:8px;
    padding-top:4px;
    text-decoration:none;
    text-transform:uppercase;
}

#navigation #menu ul li.active a {
    -moz-background-clip:border;
    -moz-background-origin:padding;
    -moz-background-size:auto auto;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    background-color:#1894AA;
    background-repeat:repeat;
    color:#FFFFFF;
    padding-bottom:4px;
    text-shadow:0 1px 0 rgba(0, 0, 0, 0.3);
}

#breadcrumbs {
    padding-top:5px;
    padding-bottom:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    background-color: #1894AA;
}

#breadcrumbs li {
    display:inline;
    color: #f7f7f7;
    text-transform:none;
}

#breadcrumbs ul li a {
    text-decoration: none;
    color: #f7f7f7;
    text-transform:none;
}

#breadcrumbs li a:hover {
    text-decoration: underline;
}

#content_wrapper {
    background-color: #1894AA;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
}

#content {
    width: 100%;
}

/* ================================================= */

#content #principal_content {
    padding-right: -3px;
	float: left;
	width: 74.8%;
}


#side_bar {
    width: 25%;
    display:block;
	min-height: 100%;
    float:right;

	border: 0px;
}

#side_bar li {
	list-style: none;
}

table {
	width: 100%;

    border-collapse: collapse;
}

table tr th {
    padding-right: 5px;

    text-align: right;

	border-bottom: 1px solid #eee;
	background-color: #E8E8E8;
}

table tr th.label {
    width: 20%;
}

table thead tr th {
    color:#333333;
	font-weight: normal;
	text-align: center;
	border: 0px;
	background-color: #E8E8E8;
}

table thead tr th.manipulators {
    padding: 0px;
    width: 242px;
}

table tbody tr:hover {
    background-color: #e0f0ff;
}


table tbody tr#marked {
    background-color: #c8ffd2;
}

table tbody tr#marked:hover {
    background-color: #9affac;
}

table tbody tr td {
    padding: 5px;
    background-color: #FFF;
	border-bottom: 1px solid #eee;
}

table tbody tr td.manipulators {
    background-color: #eee;

    border-bottom: 1px solid #fff;
}

table tbody tr td.confirmado {
    padding-left: 20px;

    background-image: url("../images/back-end/confirmado.png");
    background-repeat: no-repeat;
    background-position: left center;
}

table tbody tr td.pendente {
    padding-left: 20px;

    background-image: url("../images/back-end/pendente.png");
    background-repeat: no-repeat;
    background-position: left center;
}

table tbody tr td textarea {
    width: 630px;
    height: 200px;
}

table tbody tr td textarea.no_editor {
    height: 75px;
}

#content #control_painel_wrapper {
	float: right;
	width: 25%;
	min-height: 100%;

	border: 0px;
}

#content #control_painel_wrapper #control_painel {
    min-height: 100%;
}


ul.options_menu {
	margin: 0px;
	padding: 3px 0px 0px 0px;

    background-image: url("../images/back-end/line_pixel_h.png");
    background-repeat: repeat-x;

	list-style: none;
}

ul.options_menu li {
    text-shadow: -1px -1px #ddd, 1px 1px #fff;
	color: #000;

    background-image: url("../images/back-end/bt_painel_back.png");
	background-repeat: repeat-x;
	background-position: center bottom;
	background-color: #e1e1e1;

    border-top: 1px solid #fff;
    border-bottom: 1px solid #8c8c8c;
}

ul.options_menu li:hover {
    background-image: url("../images/back-end/bt_painel_back_hover.png");
}

ul.options_menu li:active {
    background-image: url("../images/back-end/bt_painel_back_press.png");
}

ul.options_menu li.separator {
    padding-top: 3px;

    background-image: url("../images/back-end/line_pixel_h.png");
    background-repeat: repeat-x;

    border: 0px;
}

ul.options_menu li.separator hr {
    margin: 0px;
    border: 0px;
}

ul.options_menu li a {
    padding: 8px 4px;
	display: block;

	text-decoration: none;
	color: #000;

	background-repeat: no-repeat;
    background-position: 4px center;
}

ul.options_menu li a.add {
    padding-left: 25px;

    background-image: url("../images/back-end/add.png");
}

ul.options_menu li a.print {
    padding-left: 25px;

    background-image: url("../images/back-end/print.png");
}

ul.options_menu li a.back {
    padding-left: 25px;

    background-image: url("../images/back-end/back.png");
}

ul.options_menu li a.show {
    padding-left: 25px;

    background-image: url("../images/back-end/show.png");
}

ul.options_menu li a.user {
    padding-left: 25px;

    background-image: url("../images/back-end/user.png");
}

ul.options_menu li a.date {
    padding-left: 25px;

    background-image: url("../images/back-end/date.png");
}

ul.options_menu li a.edit {
    padding-left: 25px;

    background-image: url("../images/back-end/edit.png");
}

ul.options_menu li a.accept {
    padding-left: 25px;

    background-image: url("../images/back-end/accept.png");
}

ul.options_menu li a.cancel {
    padding-left: 25px;

    background-image: url("../images/back-end/cancel.png");;
}

ul.options_menu li a.delete {
    padding-left: 25px;

    background-image: url("../images/back-end/delete.png");
}

ul.options_menu li a.change {
    padding-left: 25px;

    background-image: url("../images/back-end/change.png");
}

ul.options_menu li a.site {
    padding-left: 25px;

    background-image: url("../images/back-end/site.png");
}

