* {
    margin: 0px;
    padding: 0px;

    font-family: "trebuchet ms", arial, helvetica, sans-serif;
    font-size: 14px;
}

body {
    background-image: url("../images/back-end/back.png");
    background-repeat: repeat-x;
    background-position: center 20px;
}

a {
    color: #1e90ff;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px #fff;
}

a:hover {
    text-decoration: underline;
}

/*
** Table
*/

table {
    width: 100%;

    border-collapse: collapse;
    border-bottom-color: #ccc;
}

table thead {
    border-top: 1px solid #ccc;
    background-color: #ddd;
}

table thead tr th, table thead tr td {
    padding: 5px;

    color: #666;
    text-shadow: 1px 1px 0px #fff;
    border-right: 1px solid #fff;
}

table thead tr th a {
    color: #2a557e;
}

table thead tr th.actions {
    width: 20%;
}

table thead tr th.select, table tbody tr td.select {
    width: 20px;
}

table thead tr.marked {
    background-color: #dcebff;
}

table tbody tr.marked {
    background-color: #dcebff;
}

table tbody tr td {
    padding: 5px;

    font-size: 13px;
    border-bottom: 1px solid #eee;
}

table tbody tr td a {
    font-size: 13px;
    font-weight: normal;
}

table tbody tr td.actions {
    text-align: center;
}

table tbody tr td.actions a {
    font-weight: bold;
}

table tbody tr td.actions a.delete {
    color: #a52a2a;
}

/*
** Abbr
*/

abbr {
    border: none;
}

/*
** Form
*/

form {
    padding: 10px;

    background-color: #eee;
}

form .input {
    clear: both;
}

form .input label {
    margin: 0px 10px 5px 0px;
    padding-top: 3px;
    display: block;
    float: left;
    width: 150px;

    text-align: right;
    text-shadow: 1px 1px 0px #fff;
}

form .input label.required {
    font-weight: bold;
}

form .input input {
    margin-bottom: 5px;
    padding: 5px;
    display: block;
    float: left;
    width: 400px;

    border: 1px solid #ddd;
    border-top-color: #aaa;
}

form .input input.hasDatepicker {
    width: 100px;
}

form .input select {
    margin: 0px 5px 5px 0px;
    display: block;
    float: left;
}

form .input span.error {
    margin-left: 5px;
    display: block;
    float: left;

    color: #a52a2a;
    font-size: 13px;
    font-style: italic;
}

form fieldset {
    padding-bottom: 10px;
    clear: both;

    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

form fieldset legend {
    margin: 10px;
    padding: 10px;

    color: #444;
    font-size: 16px;
    font-style: italic;
}

form .actions {
    padding: 10px 5px 0px 10px;
    clear: both;
}

form .actions input[type="submit"], form .actions button {
    margin-right: 5px;
    padding: 5px 10px;

    cursor: pointer;
    color: #2a557e;
    font-weight: bold;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #eee;
    background-image: url("../images/back-end/gray_vertical_gradiente_top.png");
    background-repeat: repeat-x;
    box-shadow: 0px 0px 5px #ccc;
    -webkit-box-shadow: 0px 0px 5px #ccc;
    -moz-box-shadow: 0px 0px 5px #ccc;
}

form .actions input[type="submit"]:hover, form .actions button:hover {
    text-decoration: underline
    background-color: #fff;
}

form .actions input[type="submit"]:active {
    box-shadow: 0px 0px 5px #aaa;
    -webkit-box-shadow: 0px 0px 5px #aaa;
    -moz-box-shadow: 0px 0px 5px #aaa;
}

form .actions button {
    float: right;
}

/* Classes ================================================================== */

.clear {
    display: block;
    clear: both;
    height: 0px;
}

/*
** Actions
*/

ul.actions {
    list-style: none;
}

ul.actions li {
    float: left;
}

ul.actions li a {
    margin-right: 5px;
    padding: 5px 10px;
    display: block;

    color: #2a557e;
    border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #eee;
    background-image: url("../images/back-end/gray_vertical_gradiente_top.png");
    background-repeat: repeat-x;
    box-shadow: 0px 0px 5px #ccc;
    -webkit-box-shadow: 0px 0px 5px #ccc;
    -moz-box-shadow: 0px 0px 5px #ccc;
}

ul.actions li a:hover {
    background-color: #fff;
    background-image: url("../images/back-end/gray_vertical_gradiente_top.png");
}

ul.actions li a:active {
    box-shadow: 0px 0px 5px #aaa;
    -webkit-box-shadow: 0px 0px 5px #aaa;
    -moz-box-shadow: 0px 0px 5px #aaa;
}

/*
** Paginate
*/

.digg_pagination {
  background: white;
  /* self-clearing method: */ }

.digg_pagination a, .digg_pagination span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px;
    }

.digg_pagination span.disabled {
    color: #999;
    border: 1px solid #DDD;
}

.digg_pagination span.current {
    font-weight: bold;
    background: #2E6AB1;
    color: white;
    border: 1px solid #2E6AB1;
}

.digg_pagination a {
    text-decoration: none;
    color: #105CB6;
    border: 1px solid #9AAFE5;
}

.digg_pagination a:hover, .digg_pagination a:focus {
      color: #003;
      border-color: #003;
}

.digg_pagination .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center;
}

.digg_pagination .page_info b {
    color: #003;
    background: #6aa6ed;
    padding: .1em .25em;
}

.digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

  * html .digg_pagination {
    height: 1%; }
  *:first-child+html .digg_pagination {
    overflow: hidden; }

/*
** Left and right
*/

.left {
    float: left;
}

.right {
    float: right;
}

/*
** Info
*/

.info {
    color: #999;
    font-size: 13px;
    font-style: italic;
}

/*
** Data search
*/

form.data_search {
    background-color: transparent;
}

form.data_search .search {
    text-align: right;
}

form.data_search .search input[type="text"] {
    padding: 5px;
    width: 300px;

    border: 1px solid #ddd;
    border-top-color: #aaa;
}

form.data_search .search input[type="submit"] {
    margin: 0px 0px 10px 5px;
    padding: 5px 10px;

    cursor: pointer;
    color: #2a557e;
    font-weight: bold;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #eee;
    background-image: url("../images/back-end/gray_vertical_gradiente_top.png");
    background-repeat: repeat-x;
    box-shadow: 0px 0px 5px #ccc;
    -webkit-box-shadow: 0px 0px 5px #ccc;
    -moz-box-shadow: 0px 0px 5px #ccc;
}

form.data_search .search input[type="submit"]:hover {
    text-decoration: underline
    background-color: #fff;
}

form.data_search .search input[type="submit"]:active {
    box-shadow: 0px 0px 5px #aaa;
    -webkit-box-shadow: 0px 0px 5px #aaa;
    -moz-box-shadow: 0px 0px 5px #aaa;
}

/*
** Submenu
*/

.submenu_wrapper {
    margin-bottom: 10px;
    padding: 5px;

    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: #ddd;
}

.submenu_wrapper ul.submenu {
    list-style: none;
}

.submenu_wrapper ul.submenu li {
    margin-right: 5px;
    float: left;
}

.submenu_wrapper ul.submenu li a {
    padding: 5px 10px;
    display: block;

    color: #2a557e;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid transparent;
}

.submenu_wrapper ul.submenu li a:hover {
    border-color: #eee;
    background-color: #eee;
}

.submenu_wrapper ul.submenu li.active a {
    color: #fff;
    text-shadow: 0px 1px 0px #000;
    border-color: #222;
    background-color: #555;
}

/*
** Window
*/

.window {
    padding: 10px;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #000;
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
}

.window .window_header {
    margin-bottom: 15px;
    padding: 5px 15px;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #ddd;
}

.window .window_header h3 {
    float: left;

    font-size: 20px;
}

.window .window_header a.jqmClose {
    padding: 5px 25px;
    float: right;

    background-image: url("../images/back-end/close.png");
    background-repeat: no-repeat;
    background-position: right center;
}

.window .window_header a.jqmClose:hover strong {
    visibility: visible;
}

.window .window_header a.jqmClose strong {
    visibility: hidden;

    font-weight: normal;
}

.window .actions button {
    margin-top: 10px;
    padding: 5px 10px;
    display: block;
    float: right;

    cursor: pointer;
    color: #2a557e;
    font-weight: bold;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #eee;
    background-image: url("../images/back-end/gray_vertical_gradiente_top.png");
    background-repeat: repeat-x;
    box-shadow: 0px 0px 5px #ccc;
    -webkit-box-shadow: 0px 0px 5px #ccc;
    -moz-box-shadow: 0px 0px 5px #ccc;
}

/*
** Window novo convenio
*/

#window_novo_convenio form .input {
    float: left;
    clear: none;
    width: 400px;
}

#window_novo_convenio form .actions {
    padding: 0px;
    float: right;
    clear: none;
    width: 160px;
}

#window_novo_convenio .actions input, #window_novo_convenio .actions button {
    margin-top: 0px;
    float: right;
}

/*
** Tree
*/

.tree {
  background-color: #fff;
}

.tree ul {
  list-style: none;
}

.tree ul li {
  padding: 0px 5px 5px 20px;
}

/* Structure ================================================================ */

/*
** Admin panel
*/

#admin_panel_wrapper {
    padding: 3px 0px;

    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    background-color: #ddd;
}

#admin_panel {
    margin: 0px auto;
    width: 1000px;
}

#admin_panel ul#breadcrumbs {
    float: left;

    list-style: none;
}

#admin_panel ul#breadcrumbs li {
    padding: 7px 10px 5px 15px;
    float: left;

    font-size: 16px;
    background-image: url("../images/back-end/breadcrumb_separator.png");
    background-repeat: no-repeat;
    background-position: left center;
}

#admin_panel ul#breadcrumbs li a {
    color: #2a557e;
    font-size: 16px;
    font-weight: normal;
}

#admin_panel ul#breadcrumbs li.home {
    background: none
}

#admin_panel ul#breadcrumbs li.home a {
    display: block;
    width: 24px;
    height: 24px;

    background-image: url("../images/back-end/home_tiny.png");
    background-repeat: no-repeat;
    background-position: center top;
}

#admin_panel ul#breadcrumbs li.home a strong {
    display: none;
}

#admin_panel #user_status {
    float: right;

    text-align: right;
}

/*
** Flash_messages
*/

ul#flash_messages {
    margin: 5px auto 0px auto;
    width: 1000px;

    list-style: none;
}

ul#flash_messages li {
    margin-bottom: 5px;
    padding: 5px;

    text-shadow: 1px 1px 0px #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

ul#flash_messages li.notice {
    color: #008f54;
    border-color: #008f54;
    background-color: #c7ffe3;
}

ul#flash_messages li.error {
    color: #ad0800;
    border-color: #ad0800;
    background-color: #ffc6c3;
}

/*
** Main menu
*/

ul#main_menu {
    margin: 15px auto 0px auto;
    padding-left: 25px;
    width: 1000px;

    list-style: none;
}

ul#main_menu li {
    margin-right: 5px;
    float: left;
}

ul#main_menu li a {
    display: block;
    padding: 10px 15px;

    font-weight: normal;
    border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    background-color: #eee;
}

ul#main_menu li.active a {
    background-color: #fff;
    box-shadow: 0px -5px 5px #ddd;
    -webkit-box-shadow: 0px -5px 5px #ddd;
    -moz-box-shadow: 0px -5px 5px #ddd;
}

/*
** Content
*/

#content {
    padding: 10px;
    margin: 0px auto;
    width: 980px;

    background-color: #fff;
    box-shadow: 0px -5px 10px #ddd;
    -webkit-box-shadow: 0px -5px 10px #ddd;
    -moz-box-shadow: 0px -5px 10px #ddd;
}

/*
** Main content
*/

#main_content h2 {
    margin-bottom: 15px;

    color: #444;
    font-size: 20px;
    font-style: italic;
}

/*
** Main actions
*/

#main_actions {
    padding-bottom: 10px;

    border-bottom: 1px solid #eee;
}

