<% add_breadcrumb 'Cadastrar supervisor', new_instituicao_supervisor_path %>

<% content_for :submenu do %>
  <%= render :partial => 'layouts/submenu_instituicoes' %>
<% end %>

<% content_for :main_content do %>
  <h2>Cadastrar supervisor</h2>

  <p class="info">Os campos com asterisco (<strong>*</strong>) são obrigatórios.</p>

  <%= render 'form' %>
<% end %>

<% content_for :main_actions do %>
  <ul class="actions right">
    <li><%= link_to 'Cancelar', instituicao_supervisores_path(@instituicao) %></li>
  </ul>
<% end %>

