<% add_breadcrumb 'Editar ' + @instituicao.nome, edit_instituicao_url %>
<% content_for :principal_content do %>
  <h1><%= @instituicao.nome %></h1>
  <%= render 'form' %>
<% end %>

<% content_for :side_bar do %>
  <ul class="side_bar_menu">
    <li><%= link_to 'Exibir', instituicao_path(@instituicao) %></li>
  </ul>
<% end %>

