<p id="notice"><%= notice %></p>

	    <tr>
        <th class="label">início</th>
        <td><%=h @instituicao.inicio_do_periodo_oferecido.to_s_br %></td>
      </tr>

<%= link_to 'Edit', edit_instituicao_path(@instituicao) %> |
<%= link_to 'Back', instituicoes_path %>

