<div class="window_header">
  <h3>Iniciar processo de convênio</h3>
  <a href="#" class="jqmClose"><strong>Fechar</strong></a>

  <br class="clear" />
</div>

<%= simple_form_for([@instituicao, @convenio]) do |f| %>
  <%= f.input :tipo, :collection => Convenio::TIPO, :include_blank => false %>

  <div class="actions">
    <%= f.submit 'Salvar', :name => 'Salvar' %>
    <button class="jqmClose" id="window_instituicoes_ok">Cancelar</button>
  </div>

  <br class="clear" />
<% end %>

