<div class="window_header">
  <h3>Tramitação do convênio #<%= params[:convenio_id] %></h3>
  <a href="#" class="jqmClose"><strong>Fechar</strong></a>

  <br class="clear" />
</div>

<p class="slide_toggle down"><span>Nova entrada</span></p>

<div class="inline_form" id="form_item_tramitacao" action="#">
  <div class="input string required">
    <label for="item_tramitacao_data_br">Data</label>
    <input type="text" id="item_tramitacao_data_br" name="item_tramitacao[data_br]" />
  </div>

  <div class="input string">
    <label for="item_tramitacao_origem_do_contato">Origem do contato</label>
    <input type="text" id="item_tramitacao_origem_do_contato" name="item_tramitacao[origem_do_contato]" tabindex="1" />
  </div>

  <div class="input string">
    <label for="item_tramitacao_forma_de_contato">Forma de contato</label>
    <input type="text" id="item_tramitacao_forma_de_contato" name="item_tramitacao[forma_de_contato]" />
  </div>

  <div class="input text">
    <label for="item_tramitacao_descricao">Descrição</label>
    <textarea id="item_tramitacao_descricao" name="item_tramitacao[descricao]" /></textarea>
  </div>

  <input type="hidden" id="item_tramitacao_convenio_id" name="item_tramitacao[convenio_id]" />

  <div class="actions">
    <input type="submit" id="item_tramitacao_submit" value="Salvar" />
  </div>
</div>

<div id="tramitacao">
  <%= render :partial => 'itens_tramitacao/index' %>
</div>

