<% add_breadcrumb @area.nome, edit_area_path %>

<% content_for :main_content do %>
  <h2>Editar área de estágio</h2>

  <p class="info">Os campos com asterisco (<strong>*</strong>) são obrigatórios.</p>

  <%= render 'form' %>
<% end %>

<% content_for :main_actions do %>
  <ul class="actions right">
    <li><%= link_to 'Cancelar', areas_path %></li>
    <li>
      <%= link_to 'Excluir', @area, :confirm => "Tem certeza que deseja deletar #{@area.nome}?",
                                    :method => :delete %>
    </li>
  </ul>
<% end %>

