<% add_breadcrumb 'Editar ' + @area.nome, edit_area_path %>
<% content_for :principal_content do %>
  <h1><%= @area.nome %></h1>
  <%= render 'form' %>
<% end %>

<% content_for :side_bar do %>
  <ul class="side_bar_menu">
    <li><%= link_to 'Exibir', area_path(@area) %></li>
  </ul>
<% end %>

