<% content_for :head do %>
  <%= javascript_include_tag 'jqModal' %>

  <script type="text/javascript">
    $().ready(function () {
        $('#window_form_area').jqm({modal: true, trigger: '.show_area_window'});
    });
  </script>
<% end %>

<% content_for :main_content do %>
  <%= javascript_include_tag "cadastro_instituicao.js" %>

  <div class="tree">
    <%= lista_de_areas(Area.arvore) %>
  </div>

  <div id="window_form_area" class="jqmWindow window"></div>
<% end %>

<% content_for :main_actions do %>

  <ul class="actions right">
    <li><%= link_to 'Cadastrar área', new_area_path(), :remote => true,
      :onclick => "$('#window_form_area').jqm().jqmShow();",
      :class => 'new' %></li>
  </ul>
<% end %>

