<% content_for :main_content do %>
  <%= javascript_include_tag "cadastro_instituicao.js" %>

  <div class="tree">
    <%= lista_de_areas(Area.arvore) %>
  </div>
<% end %>

<% content_for :main_actions do %>
  <ul class="actions right">
    <li><%= link_to 'Cadastrar área', new_area_path %></li>
  </ul>
<% end %>

