<% add_breadcrumb 'Editar ' + @estagiario.nome, edit_estagiario_path %>
<% content_for :main_content do %>
  <h1><%= @estagiario.nome %></h1>
  <%= render 'form' %>
<% end %>

<% content_for :main_actions do %>
  <ul class="actions right">
    <li><%= link_to 'Cancelar', instituicoes_path %></li>
  </ul>
<% end %>

