<% add_breadcrumb 'Editar ' + @estagiario.nome, edit_estagiario_path %>
<% content_for :principal_content do %>
  <h1><%= @estagiario.nome %></h1>
  <%= render 'form' %>
<% end %>

<% content_for :side_bar do %>
  <ul class="side_bar_menu">
    <li><%= link_to 'Exibir', estagiario_path(@estagiario) %></li>
  </ul>
<% end %>

