<% content_for :main_content do %>
  <table id="lista_de_usuarios">
    <thead>
      <tr>
        <th>Email</th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= link_to usuario.email, edit_usuario_path(usuario) %></td>
        <td class="actions">
          <%= link_to 'Editar', edit_usuario_path(usuario)%>
          <%= link_to 'Excluir', usuario, :confirm => "Tem certeza que deseja deletar #{usuario.email}?",
                                          :method => :delete,
                                          :class => 'delete' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<% content_for :main_actions do %>
  <ul class="actions right">
    <li><%= link_to 'Cadastrar usuário', new_usuario_path %></li>
  </ul>
<% end %>

