<% add_breadcrumb @usuario.email, usuario_path %>
<% content_for :principal_content do %>
  <table>
    <thead>
		  <tr>
			  <th colspan="2">Dados do usuário</th>
		  </tr>
	  </thead>

	  <tbody id="dados_do_usuario">
      <tr>
        <th class="label">E-mail</th>
        <td><%=h @usuario.email %></td>
      </tr>
  </table>

  </br>

<% end %>
<% content_for :side_bar do %>
  <ul class="options_menu">
    <li><%= link_to 'Editar', edit_usuario_path, :class => "edit" %></li>
  </ul>
<% end %>

