<h1>Editing representante</h1>

<%= render 'form' %>

<%= link_to 'Show', instituicao_representante_path(@instituicao, @representante) %> |
<%= link_to 'Back', instituicao_representantes_path(@instituicao) %>

