<% add_breadcrumb 'Editar ' + @representante.nome, edit_instituicao_representante_path %>
<% content_for :principal_content do %>
<%= render 'form' %>
<% end %>
<% content_for :side_bar do %>
  <ul class="side_bar_menu">
    <li><%= link_to 'Exibir', instituicao_representante_path %></li>
  </ul>
<% end %>

